<section class="col col-large-6-of-12 col-medium-6-of-12 col-small-12-of-12">
                <div class="textAndMedia   section">
    <div class="text-media " data-component="text-media" data-content-featured="false">
        <div>
        <img class="text-media-img" data-desktop="/dam/images/rectangle-2b.jpg" src="/dam/images/rectangle-2b.jpg">
</div>
    </div>
</div>
            </section>
            <section class="col col-large-6-of-12 col-medium-6-of-12 col-small-12-of-12">
                <div class="textAndMedia   section">
    <div class="text-media " data-component="text-media" data-content-featured="false">
        <div>
        <h1 class="text-media-title"><p>A comprehensive  approach to genomic profiling</p>
</h1>
</div>
<p>{{webcontext.resp }}</p>
<p></p>
<div>
 
    <div class="text-media-description">{{ webcontext.json_object["items"][0]["contentNodes"]["body"]["value"]|safe }}</div>
</div><div>
    
    <div class="text-media-button-wrapper">
        <a class="text-media-button" href="home/what-we-do.html">MORE ABOUT WHAT WE DO</a>
    </div>
</div>
</div>
</div>
</section>


