<section class="col col-large-6-of-12 col-medium-6-of-12 col-small-12-of-12">
                <div class="textAndMedia   section">
    <div class="text-media " data-component="text-media" data-content-featured="false">
        <div>
            <img 
                class="text-media-img" 
                data-desktop='{{webcontext.json_object["items"][0]["contentNodes"]["bannerImage"]["url"]}}' 
                src='{{webcontext.json_object["items"][0]["contentNodes"]["bannerImage"]["url"]}}'
            >
        </div>
    </div>
    </div>
            </section>
            <section class="col col-large-6-of-12 col-medium-6-of-12 col-small-12-of-12">
                <div class="textAndMedia   section">
    <div class="text-media " data-component="text-media" data-content-featured="false">
        <div>
        <h1 class="text-media-title"><p>{{ webcontext.json_object["items"][0]["contentNodes"]["title"]["value"]|as_html }}</p>
</h1>
</div>

<p></p>
<div>
 
    <div class="text-media-description">{{ webcontext.json_object["items"][0]["contentNodes"]["body"]["value"]|as_html }}</div>
</div><div>
    
    <div class="text-media-button-wrapper">
        <a class="text-media-button" href="home/what-we-do.html">MORE ABOUT WHAT WE DO</a>
    </div>
</div>
</div>
</div>

</section>





























